# Laravel
/vendor/
/node_modules/
/public/storage
/storage/*.key
/.idea
/.vscode
/.env
/.env.*
/phpunit.xml
/phpunit.xml.dist
/.phpunit.result.cache

# Composer
composer.lock

# NPM
npm-debug.log
yarn-error.log

# Laravel IDE helper
/_ide_helper.php
/_ide_helper_models.php

# Laravel Telescope
/telescope

# Temporary files
*.log
*.csv
*.dat
*.tar
*.gz
*.zip
*.tar.gz
*.7z
